name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - stable

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}
          override: true
      - name: clean
        run: cargo clean
      - name: fmt
        run: rustup component add rustfmt && cargo fmt -- --check
      - name: clippy
        run: rustup component add clippy && cargo clippy
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --all --verbose -- --exact --nocapture
      - name: Generate code coverage
        run: rustup toolchain install nightly && cargo install cargo-tarpaulin && cargo tarpaulin --run-types Doctests Tests --verbose --all-features --workspace --timeout 120 --out Xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
